.footer {
  background: url('../../images/footer.jpg') no-repeat;
  position: relative;
  color: $black;
  .footer-overlay {
    background: rgba($body-color, 0.7);
  }
  h4 {
    position: relative;
    &::after {
      background: $brand-primary;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      bottom: 0;
      width: 60px;
    }
  }
}