.header {
  .header-langs {
    a {
      color: $white;
    }
  }
  .header-call, .header-place {
    &::before {
      background: $gray-lighter;
      content: "";
      height: 25px;
      margin-top: -15px;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
      width: 2px;
      display: none;
    }
    i {
      border: 1px solid $white;
    }
  }
}
@include media-breakpoint-up(md) {
  .header {
    .header-call, .header-place {
      &::before {
        display: block;
      }
    }
  }
}