.hero-carousel {
  .carousel-item {
    &.active, &.carousel-item-next, &.carousel-item-prev {
      display: block;
    }
  }
  .carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    .container {
      background: rgba($white, 0.9);
      color: $black;
    }
  }
  .open-details {
    cursor: pointer;
  }
  .carousel-control-prev, .carousel-control-next {
    pointer-events: none;
    .carousel-control-next-icon, .carousel-control-prev-icon {
      width: 120px;
      height: 50px;
      pointer-events: auto;
    }
  }
}