.hero-carousel {
  .carousel-control {
    text-shadow: 0 1px 2px rgba($black,.6);
    font-size: 60px;
    z-index: 1;
  }
  .carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    .caption-text {
      font-size: $font-size-sm;
    }
    .container {
      color: $black;
    }
  }
  .open-details {
    cursor: pointer;
  }
  .carousel-control-prev, .carousel-control-next {
    pointer-events: none;
    .carousel-control-next-icon, .carousel-control-prev-icon {
      width: 120px;
      height: 50px;
      pointer-events: auto;
    }
  }
  .item-collection {
    font-size: $font-size-lg;
    p {
      margin-bottom: 5px;
    }
  }
}

@include media-breakpoint-up(md) {
  .hero-carousel .carousel-caption .container {
    background: rgba($white, 0.9);
  }
}