.hero-carousel {
  .carousel-item {
    display: block;
    visibility: hidden;
    transition: opacity 0.6s ease-in-out;
    &.active, &.carousel-item-next, &.carousel-item-prev {
      visibility: visible;
    }
  }

  .carousel-inner .carousel-item,
  .carousel-inner .active.carousel-item-prev,
  .carousel-inner .active.carousel-item-next {
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
  }

  .carousel-inner .active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    opacity: 1;
    display: block;
    position: relative;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev,
  .carousel-inner .active.carousel-item-prev,
  .carousel-inner .active.carousel-item-next {
    left: 0;
    transform: translate3d(0, 0, 0);
    position: absolute;
    top:0;
  }

  .carousel-control {
    text-shadow: 0 1px 2px rgba($black,.6);
    font-size: 60px;
  }
  .carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    .caption-text {
      font-size: $font-size-sm;
    }
    .container {
      color: $black;
    }
  }
  .open-details {
    cursor: pointer;
  }
  .carousel-control-prev, .carousel-control-next {
    pointer-events: none;
    .carousel-control-next-icon, .carousel-control-prev-icon {
      width: 120px;
      height: 50px;
      pointer-events: auto;
    }
  }
  .item-collection {
    font-size: $font-size-lg;
    p {
      margin-bottom: 5px;
    }
  }
}

@include media-breakpoint-up(md) {
  .hero-carousel .carousel-caption .container {
    background: rgba($white, 0.9);
  }
}