<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="assets/vendor.bundle.css">
    <link rel="stylesheet" href="assets/global.bundle.css">
    {% block pageStyle %}{% endblock %}
</head>
<body>
{% block header %}{% include "components/header.html" %}{% endblock %}
{% block subheader %}{% endblock %}
{% block gallery %}{% endblock %}
{% block testimonials %}{% endblock %}
{% block carousel %}{% endblock %}
{% block collectionSet %}{% endblock %}
{% block nearby %}{% endblock %}
{% block footer %}{% include "components/footer.html" %}{% endblock %}
<script src="assets/vendor.bundle.js"></script>
<script src="assets/global.bundle.js"></script>
{% block pageScript %}{% endblock %}
</body>
</html>