$brand-primary: #ed462f;
$body-bg: #13133a;
$black: $body-bg;
$body-color: white;
$gray-lighter: #A1A1A1;
$nav-link-padding: 1.25rem 1rem !important;
$font-size-h5: 1.375rem;

$font-family-base: 'Open Sans', sans-serif;
$font-weight-bold: 600;

$link-hover-color: $body-bg;
$link-hover-decoration: none;

$modal-transition: opacity .3s ease-out;
$carousel-transition: opacity .6s ease-in-out;

$carousel-control-prev-icon-bg: none;
$carousel-control-next-icon-bg: none;

$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$fa-font-path: '../../node_modules/font-awesome/fonts' !default;
$FontPathOpenSans: '../../node_modules/npm-font-open-sans/fonts' !default;


$spacers: (
        0: (
                x: 0,
                y: 0
        ),
        1: (
                x: ($spacer-x * .25),
                y: ($spacer-y * .25)
        ),
        2: (
                x: ($spacer-x * .5),
                y: ($spacer-y * .5)
        ),
        3: (
                x: $spacer-x,
                y: $spacer-y
        ),
        4: (
                x: ($spacer-x * 1.5),
                y: ($spacer-y * 1.5)
        ),
        '4_5': (
                x: ($spacer-x * 2.5),
                y: ($spacer-y * 2.5)
        ),
        5: (
                x: ($spacer-x * 3),
                y: ($spacer-y * 3)
        )
);

$modal-lg:                    90%;
$modal-md:                    96%;
$modal-sm:                    100%;