{% macro carouselSlide(slide, index) %}
    <div class="slick-carousel-item">
        <img class="d-block img-fluid" src="{{ slide.image.url }}" alt="{{ image.alt }}">
        <div class="carousel-caption p-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-9 col-lg-4 py-md-4_5 pl-md-4_5 p-2 text-left hidden-sm-down">
                        <h4 class="text-uppercase">
                            <a href="{{ slide.category.url }}">{{ slide.category.name }}</a>
                        </h4>
                        <div class="caption-text">
                            {{ slide.category.caption }}
                        </div>
                    </div>
                    <div class="col-3 py-4_5 pl-4_5 pr-2 text-left hidden-md-down item-collection">
                        {% asyncEach item in slide.category.collection %}
                            <p><span class="text-primary">{{ item.count }}</span> {{ item.name }}</p>
                        {% endeach %}
                    </div>
                    <div class="col-3 py-4_5 pl-4_5 pr-2 hidden-md-down"><span class="h3">{{ slide.category.cost }}</span></div>
                    <div data-toggle="modal" data-target="#openDetails{{index}}"
                         class="open-details offset-3 offset-md-0 col-6 col-md-3 col-lg-2 py-2 bg-primary text-white align-self-stretch d-flex align-items-center justify-content-center">
                        <span class="text-uppercase h5 font-weight-normal">View Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
<div class="container-fluid px-0">
    <div class="hero-carousel" data-ride="carousel">
        <div class="carousel-container" role="listbox">
            {% asyncEach slide in heroCarousel.slides %}
                {{ carouselSlide(slide, loop.index0) }}
            {% endeach %}
        </div>
        <!--<a class="carousel-control-prev carousel-control slick-prev slick-arrow" role="button">-->
            <!--<i class="fa fa-angle-left carousel-control-prev-icon"></i>-->
            <!--<span class="sr-only">Previous</span>-->
        <!--</a>-->
        <!--<a class="carousel-control-next carousel-control" role="button">-->
            <!--<i class="fa fa-angle-right carousel-control-next-icon"></i>-->
            <!--<span class="sr-only">Next</span>-->
        <!--</a>-->
    </div>
</div>
{% import "components/details-modal.html" as modal %}

{% asyncEach slide in heroCarousel.slides %}
    {{ modal.modalDetails(slide.category.products, loop.index0) }}
{% endeach %}
