<div class="container">
    <div class="row collection-set">
        {% asyncEach item in collection.items %}
            <div class="col-12 col-md-2 col-sm-4 figure-container">
                <div class="figure text-center">
                    <i class="fa {{item.icon}}"></i>
                </div>
                <div class="label text-uppercase text-center">{{item.title}}</div>
                <div class="label-number text-center">{{item.value}}</div>
            </div>
        {% endeach %}
    </div>
</div>