<section class="contact-details my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 px-md-1 px-lg-2">
                <div class="contact-box row align-self-stretch mx-0 mx-md-1">
                    <div class="col-3 text-center ico d-flex align-items-center justify-content-center"><i class="fa fa-map-marker fa-2x"></i></div>
                    <div class="col-9 pb-3">
                        <strong class="contact-box-heading d-block py-3">{{contact.officeTitle}}</strong>
                        <div>{{contact.street}}</div>
                        <div>{{contact.city}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-md-1 px-lg-2">
                <div class="contact-box row align-self-stretch mx-0 mx-md-1">
                    <div class="col-3 text-center ico d-flex align-items-center justify-content-center"><i class="fa fa-phone fa-2x"></i></div>
                    <div class="col-9 pb-3">
                        <strong class="contact-box-heading d-block py-3">{{contact.phoneTitle}}</strong>
                        <div>{{contact.local}}: <a class="text-white" href="tel:{{contact.phone1}}">{{contact.phone1}}</a></div>
                        <div>{{contact.mobile}}: <a class="text-white" href="tel:{{contact.phone2}}">{{contact.phone2}}</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-md-1 px-lg-2">
                <div class="contact-box row align-self-stretch mx-0 mx-md-1">
                    <div class="col-3 text-center ico d-flex align-items-center justify-content-center"><i class="fa fa-envelope fa-2x"></i></div>
                    <div class="col-9 pb-3">
                        <strong class="contact-box-heading d-block py-3">{{contact.emailTitle}}</strong>
                        <div><a class="text-white" href="mailto:{{contact.email}}">{{contact.email}}</a></div>
                        <div><a class="text-white" href="{{contact.website}}">{{contact.website}}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>