<footer class="footer">
    <div class="footer-overlay py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <h4 class="text-uppercase pb-3 mb-3">{{footer.firstTitle}}</h4>
                    <div class="content">
                        {{footer.text}}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 offset-lg-6">
                    <h4 class="text-uppercase pb-3 mb-3 mt-3 mt-md-0">{{footer.secondTitle}}</h4>
                    <div class="contact-info">
                        <div class="align-items-center row mb-3 justify-content-between">
                            <div class="col-1"><i class="fa fa-map-marker fa-2x"></i></div>
                            <div class="col-10"><span class="contact-details">{{footer.address}}</span>
                            </div>
                        </div>
                        <div class="align-items-center row mb-3 justify-content-between">
                            <div class="col-1"><i class="fa fa-envelope fa-2x"></i></div>
                            <div class="col-10"><span class="contact-details"><a class="text-gray-dark" href="mailto:{{footer.email}}">{{footer.email}}</a></span></div>
                        </div>
                        <div class="align-items-center row mb-3 justify-content-between">
                            <div class="col-1"><i class="fa fa-phone fa-2x"></i></div>
                            <div class="col-10"><span class="contact-details"><a class="text-gray-dark" href="tel:{{footer.phone}}">{{footer.phone}}</a></span></div>
                        </div>
                        <div class="align-items-center row mb-3 justify-content-between">
                            <div class="col-1"><i class="fa fa-globe fa-2x"></i></div>
                            <div class="col-10"><span class="contact-details"><a class="text-gray-dark" href="{{footer.website}}">{{footer.website}}</a></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>