<section class="nearby-place">
    <div class="container">
        <h1 class="display-4 text-center text-uppercase section-heading pb-4_75 mb-3_25"><span class="font-weight-bold">Nearby</span> <span class="text-primary">place</span></h1>
        <div class="description text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu magna metus. Donec sed erat non ipsum tincidunt pharetra ipsum tincidunt pharetra
        </div>
        <div class="row my-5 places">
            <div class="col-lg-3 col-md-6 col-12 d-flex align-items-center place mb-3 mb-md-0">
                <i class="fa fa-book mr-3_25 rounded-circle p-3"></i>
                <div class="desc">
                    <div class="h4 text-uppercase">School</div>
                    <div class="">New York Art School</div>
                    <div class="distance text-uppercase">1 km</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 d-flex align-items-center place mb-3 mb-md-0">
                <i class="fa fa-flag-o mr-3_25 rounded-circle p-3"></i>
                <div class="desc">
                    <div class="h4 text-uppercase">Golf Club</div>
                    <div class="">NYC Golf Club</div>
                    <div class="distance text-uppercase">2 km</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 d-flex align-items-center place mb-3 mb-md-0">
                <i class="fa fa-hospital-o mr-3_25 rounded-circle p-3"></i>
                <div class="desc">
                    <div class="h4 text-uppercase">Hospital</div>
                    <div class="">NYC Hostpital Center</div>
                    <div class="distance text-uppercase">4 km</div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 d-flex align-items-center place mb-3 mb-md-0">
                <i class="fa fa-coffee mr-3_25 rounded-circle p-3"></i>
                <div class="desc">
                    <div class="h4 text-uppercase">Resturant</div>
                    <div class="">NYC Spicy Resturant</div>
                    <div class="distance text-uppercase">6 km</div>
                </div>
            </div>
        </div>
    </div>
</section>