<section class="nearby-place" data-aos="fade-up">
    <div class="container">
        <h3 class="display-4 text-center text-uppercase section-heading pb-4_75 mb-3_25">{{nearby.title}}</h3>
        <div class="description text-center">
           {{nearby.description}}
        </div>
        <div class="row my-5 places">
            {% asyncEach place in nearby.places %}
                <div class="col-lg-3 col-md-6 col-12 d-flex align-items-center place mb-3 mb-md-0">
                    <i class="fa {{place.icon}} mr-3_25 rounded-circle p-3"></i>
                    <div class="desc">
                        <div class="h4 text-uppercase">{{place.type}}</div>
                        <div class="">{{place.name}}</div>
                        <div class="distance text-uppercase">{{place.distance}}</div>
                    </div>
                </div>
            {% endeach %}
        </div>
    </div>
</section>