.photo-gallery {
  .controls {
    .mixitup-control-active {
      background: $brand-primary;
      color: $body-color;
      border-color: $brand-primary;
    }
  }
  .card-wrap {
    .card-item {
      background: $black;
    }
  }
  .card-item {
    border: 1px solid $gray-lighter;
  }
  .card-footer {
    background: $black;
    border-top: 1px solid $gray-lighter;
    a {
      color: $body-color;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}
