.carousel-modal {
  color: $black;
  align-items: center;

  &.fade.show {
    display: flex !important;
  }

  &.fade {
    .modal-dialog {
      display: none;
    }
    &.show {
      .modal-dialog {
        display: block;
      }
    }
  }

  .modal-content {
    border-radius: 0;
  }
}