.carousel-modal {
  color: $gray-lighter;
  align-items: center;
  .modal-title {
    color: $black;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
  }
  .modal-content {
    height: 100vh;
    overflow-y: auto;
    border-radius: 0;
  }
  .product-properties {
    span {
      color: $black;
    }
  }
  .carousel-control-prev {
    left: 0;
    color: $gray-lighter;
    font-size: 1.875rem;
    width: 7%;
  }
  .carousel-control-next {
    right: 0;
    color: $gray-lighter;
    font-size: 1.875rem;
    width: 7%;
  }
  &.fade.show {
    display: flex !important;
  }

  &.fade {
    .modal-dialog {
      display: none;
    }
    &.show {
      .modal-dialog {
        display: block;
      }
    }
  }

  .modal-header {
    border: 0;
  }
}

@include media-breakpoint-up(md) {
  .carousel-modal {
    .carousel-control-prev {
      left: -10%;
      color: $white;
      width: 15%;
    }
    .carousel-control-next {
      right: -10%;
      color: $white;
      width: 15%;
    }
    .modal-content {
      height: auto;
    }
  }
}